/* general and reset */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

/* main content */

/* first gallery */

.container {
    margin: auto;
    width: 1000px;
    padding-top: 30px;
}

.imagebox img {
    width: 100%;
}

.imagebox {
    position: relative;
    width: 400px;
}

.imagebox .info {
    position: absolute;
    left: 0;
    bottom: 30px;
}

.discount-box {
    /* position: absolute; */
    left: 0;
    bottom: 20px;
    font-size: 12px;
    padding: 4px;
    color: #fff;
    font-weight: bolder;
}

.heart {
    background-color: #fff;
    padding: 8px 15px;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 28px;
}

.description-1 {
    background-color: #ff0000;
}

.description-2 {
    /* position: absolute; */
    background-color: #00875a;
    /* margin-left: 43px; */
}


