/* general and reset */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* common */

/* info wear */

.brand {
    font-weight: lighter;
}

.price {
    font-weight: bolder;
    color: #ff0000;
}

.price-deleted {
    text-decoration: line-through;
    font-weight: lighter;
}

.wear-info {
    display: inline-block;
    margin-top: 10px;
}

.info-1{
    background-color: #ff0000;
}

.info-2{
    background-color: #008000;
}

/* main content */

/* first gallery */

.container1 {
    width: 1400px;
    margin: 50px auto;
}

/* first grid */

.product-gallery{
    display: inline-block;
    width: 32%;
    margin: 0 -3px 30px;
    padding: 0 10px;
    position: relative;
}

.item img {
    width: 100%;
}

.discount {
    color: #fff;
    padding: 3px;
    margin-left: 10px;
}

.offer-info {
    position: absolute;
    left: 0;
    bottom: 85px;
}

.heart {
    position: absolute;
    top: 14px;
    right: 0;
    background-color: #fff;
    margin: 5px 10px;
    padding: 16px;
    font-size: 31px;
    width: 20px;
    text-align: right;
}

.container2 {
    width: 1400px;
    margin: 50px auto;
}